<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.api.mapper.SOfferPriceMapper">

    <select id="findOfferPriceList" resultType="java.util.Map" parameterType="sOfferPrice">

        SELECT
        u.user_name userName,
        u.nick_name nickName,
        u.user_phone userPhone,
        o.amount amount,
        (CASE WHEN o.status = 1 THEN '领先' WHEN o.status = 2 THEN '出局' END) status
        FROM s_offer_price o
        LEFT JOIN s_user u ON o.user_id = u.id
        WHERE o.pay_status = 1
          AND o.task_order_id = #{sOfferPrice.taskOrderId}
        ORDER BY o.create_time desc

    </select>


</mapper>
