<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.api.mapper.SOrderMapper">

    <select id="findOrderDetail" resultType="sOrder" parameterType="sOrder">

        SELECT
        o.id id,
        o.order_sn orderSn,
        o.user_id userId,
        o.task_id taskId,
        o.payment_type paymentType,
        o.payment_state paymentState,
        o.shipping_express_code shippingExpressCode,
        o.shipping_express_id shippingExpressId,
        o.shipping_code shippingCode,
        o.shipping_fee shippingFee,
        o.deliver_explain deliverExplain,
        o.address_id addressId,
        o.order_amount orderAmount,
        o.pay_amount payAmount,
        o.order_message orderMessage,
        o.order_status orderStatus,
        o.address_name addressName,
        o.address_phone addressPhone,
        o.address_detail addressDetail,
        o.product_id productId,
        o.product_number productNumber,
        o.shipping_time shippingTime,
        o.payment_time paymentTime,
        o.create_time createTime,

        p.product_name productName,
        p.product_img productImg,
        p.product_des productDes,
        p.product_detail productDetail,
        p.product_price productPrice,
        p.price_unit priceUnit,
        e.e_name shippingExpressName

        FROM s_order o
        LEFT JOIN s_product p
        ON p.id = o.product_id
        LEFT JOIN s_express e
        ON e.id = o.shipping_express_id

        WHERE 1 = 1

        <if test="sOrder.userId != null and sOrder.userId != ''">
            AND o.user_id = #{sOrder.userId}
        </if>

        <if test="sOrder.id != null and sOrder.id != ''">
            AND o.id = #{sOrder.id}
        </if>

        <if test="sOrder.orderStatus != null and sOrder.orderStatus != ''">
            AND o.order_status = #{sOrder.orderStatus}
        </if>


    </select>

    <select id="queryPage" resultType="java.util.Map">
        SELECT
        od.order_id id,
        od.id orderDetailId,
        case
        when od.order_status = 0 then '待付款'
        when od.order_status = 1 then '待发货'
        when od.order_status = 2 then '待收货'
        when od.order_status = 4 then '退换货'
        when od.order_status in('4','3','-1','5')	 then '已完成'
        else  ''  end as orderStatus,
        case
        when od.order_status in(1,2) then 1
        else  0  end as applyRefund,
        case
        when od.order_status !=0 then 1
        else  0  end as anotherOne
        FROM
        s_order_detail od
        LEFT JOIN s_order o on o.id=od.order_id
        WHERE
            1 = 1
        and o.user_id = #{userId}
        <if test="status != null and status != '' and  status != '5'">
            AND od.order_status=#{status}
        </if>
        <if test="status == '5'">
            AND od.order_status  in('4','3','-1','5')
        </if>
        ORDER BY
        od.create_time DESC,od.order_id desc
    </select>

    <select id="queryDetailId" resultType="java.util.Map">
        select
            op.product_name productName,
            op.product_img productImg,
            op.product_spec_value_name  psvName,
            op.product_price as productPirce
        from
            s_order_product op where op.order_detail_id=#{orderDetailId}
    </select>

    <!--<select id="queryDetail" resultType="java.util.Map">


    </select>-->
    
</mapper>
