<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.api.mapper.SOrderMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.api.entity.SOrder">
                <result column="id" property="id" />
                    <result column="order_sn" property="orderSn" />
                    <result column="user_id" property="userId" />
                    <result column="task_id" property="taskId" />
                    <result column="payment_type" property="paymentType" />
                    <result column="payment_state" property="paymentState" />
                    <result column="shipping_express_code" property="shippingExpressCode" />
                    <result column="shipping_express_id" property="shippingExpressId" />
                    <result column="shipping_code" property="shippingCode" />
                    <result column="shipping_fee" property="shippingFee" />
                    <result column="deliver_explain" property="deliverExplain" />
                    <result column="address_id" property="addressId" />
                    <result column="order_amount" property="orderAmount" />
                    <result column="pay_amount" property="payAmount" />
                    <result column="order_message" property="orderMessage" />
                    <result column="order_status" property="orderStatus" />
                    <result column="address_name" property="addressName" />
                    <result column="address_phone" property="addressPhone" />
                    <result column="address_detail" property="addressDetail" />
                    <result column="product_id" property="productId" />
                    <result column="product_number" property="productNumber" />
                    <result column="shipping_time" property="shippingTime" />
                    <result column="payment_time" property="paymentTime" />
                    <result column="create_time" property="createTime" />

        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
            order_sn, user_id, task_id, payment_type, payment_state, shipping_express_code, shipping_express_id, shipping_code, shipping_fee,
            deliver_explain, address_id, order_amount, pay_amount, order_message, order_status, address_name, address_phone, address_detail,
            product_id, product_number, shipping_time, payment_time, create_time
        </sql>


    <select id="findOrderDetail" resultType="sOrder" parameterType="sOrder">

        SELECT
        o.id id,
        o.order_sn orderSn,
        o.user_id userId,
        o.task_id taskId,
        o.payment_type paymentType,
        o.payment_state paymentState,
        o.shipping_express_code shippingExpressCode,
        o.shipping_express_id shippingExpressId,
        o.shipping_code shippingCode,
        o.shipping_fee shippingFee,
        o.deliver_explain deliverExplain,
        o.address_id addressId,
        o.order_amount orderAmount,
        o.pay_amount payAmount,
        o.order_message orderMessage,
        o.order_status orderStatus,
        o.address_name addressName,
        o.address_phone addressPhone,
        o.address_detail addressDetail,
        o.product_id productId,
        o.product_number productNumber,
        o.shipping_time shippingTime,
        o.payment_time paymentTime,
        o.create_time createTime,

        p.product_name productName,
        p.product_img productImg,
        p.product_des productDes,
        p.product_detail productDetail,
        p.product_price productPrice,
        p.price_unit priceUnit,
        e.e_name shippingExpressName

        FROM s_order o
        LEFT JOIN s_product p
        ON p.id = o.product_id
        LEFT JOIN s_express e
        ON e.id = o.shipping_express_id

        WHERE 1 = 1

        <if test="sOrder.user_id != null and sOrder.user_id != ''">
            AND o.user_id = #{sOrder.userId}
        </if>

        <if test="sOrder.id != null and sOrder.id != ''">
            AND o.id = #{sOrder.id}
        </if>

        <if test="sOrder.orderStatus != null and sOrder.orderStatus != ''">
            AND o.order_status = #{sOrder.orderStatus}
        </if>


    </select>


    
</mapper>
