<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.api.mapper.SOrderMapper">

    <select id="queryPage" resultType="java.util.Map">
        SELECT
            ss.id shopId,
            ss.shop_name shopName,
            od.id orderDetailId,
            od.order_id orderId,
            od.order_status orderStatus,
            case
                when od.order_status = 0            then '待付款'
                when od.order_status = 1            then '待发货'
                when od.order_status = 2            then '待收货'
                when od.order_status = 4            then '售后中'
                when od.order_status in(3, 5, -1)   then '已完成'
            end as orderStatusName
        FROM
        s_order_detail od
        LEFT JOIN s_shop ss on ss.id = od.shop_id
        WHERE 1 = 1
        AND od.user_id = #{userId}

        <!--  0未付款  1已付款待发货  2已发货  4 申请退货退款 -->
        <if test="status != null and status != '' and  status != '5'">
            AND od.order_status= #{status}
        </if>

        <!-- 已完成： 3已确认收货 5 已退货退款 -1 已取消 -->
        <if test="status == '5'">
            AND od.order_status in(3, 5, -1)
        </if>

        <!-- 全部：9 无条件-->

        ORDER BY
        od.create_time DESC
    </select>

    <select id="queryProductDetailId" resultType="java.util.Map">
        SELECT
            op.product_id productId,
            op.product_name productName,
            op.product_des productDes,
            op.product_img productImg,
            op.product_spec_value_name  productSpecValueName,
            op.product_price productPirce,
            op.product_number productNumber
        FROM s_order_product op
        WHERE op.order_detail_id = #{orderDetailId}
    </select>

    <select id="queryOrderDetail" resultType="java.util.Map">
        SELECT
            od.create_time createTime,                          <!-- 订单创建时间 -->
            od.payment_time paymentTime,                        <!-- 订单支付时间 -->
            od.shipping_time shippingTime,                      <!-- 订单发货时间 -->
            case
                when od.order_status = 0 then '等待买家付款'
                when od.order_status = 1 then '买家已付款'
                when od.order_status = 2 then '卖家已发货'
                when od.order_status = 4 then '售后处理中'
                when od.order_status in(3, 5, -1)	 then '订单已关闭'
            end orderStatusName,                                <!-- 订单状态 -->
            od.address_name addressName,                        <!-- 收件人信息 -->
            CONCAT(LEFT(od.address_phone,3), '*****' , RIGHT(od.address_phone,4)) adddressPhone,
            od.address_detail addressDetail,
            od.order_amount orderAmount,                        <!-- 订单金额 -->
            od.shipping_fee shippingFee,                        <!-- 运费（0：包邮） -->
            od.pay_amount payAmount,                            <!-- 实付金额 -->
            od.order_sn orderSn,                                <!-- 订单编号 -->
            od.shipping_code shippingCode,                      <!-- 物流单号 -->
            od.coupon_amount couponAmount                       <!-- 优惠金额 -->
                                                                <!-- 返现合计 -->
                                                                <!-- 赠送拆豆 -->
        FROM
            s_order_detail od
        WHERE od.id = #{orderDetailId}
    </select>

    <select id="queryOrderPaySuccessList" resultType="java.util.Map">
        SELECT  id,
                user_id userId,
                payment_type paymentType,
                payment_state paymentState,
                payment_time paymentTime,
                pay_amount payAmount,
                channel,
                create_time createTime
        FROM s_order
        WHERE payment_state = 1
          AND TIMESTAMPDIFF(MINUTE, payment_time, NOW()) >= 5
    </select>
</mapper>
