<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.api.mapper.SProductMapper">

    <select id="findProductDetailByProductName" resultType="java.util.Map">

        SELECT
        SP.id                                                   productId,          <!-- 商品ID -->
        SP.s_order											    sOrder,             <!-- 排序 -->
        SP.product_name                                         productName,        <!-- 商品名称 -->
        SP.product_des                                          productDes,         <!-- 商品简介 -->
        SP.product_img                                          productImg,         <!-- 商品图片 -->
        SP.product_price                                        productPrice,       <!-- 商品价格 -->
        SP.scribing_price                                       scribingPrice,      <!-- 商品划线价 -->
        SP.task_price                                           taskPrice,          <!-- 任务金 -->
        SP.task_number                                          taskNumber,         <!-- 任务数量 -->
        SP.total_reward                                         totalReward,        <!-- 总佣金 -->
        ifnull(SP.total_number, 0) - ifnull(STL1.notOverCnt, 0) overTaskLineCnt,    <!-- 已完成任务线 -->
        ifnull(STL3.total_task, 0)                              totalTaskNumber,    <!-- 当前任务线份额 -->
        ifnull(STL3.received_task, 0)                           receivedTaskNumber, <!-- 已完成任务份额 -->
        ifnull(SUT.taskUserCnt, 0)                              taskUserCnt,        <!-- 拆家人数 -->
        ifnull(SUF.followCnt, 0) + ifnull(SUB.browserCnt, 0)    followCnt,          <!-- 关注人数 -->
        ifnull(SALE.productNumber, 0)                           saleCnt,            <!-- 已售件数 -->
        ifnull(reward.rewardCnt, 0)                             rewardCnt           <!-- 躺赢次数 -->
        FROM s_product SP

        LEFT JOIN (SELECT product_id, count(*) notOverCnt FROM s_task_line WHERE line_status = 0 AND settle_status = 0 GROUP BY product_id) STL1
        ON STL1.product_id = SP.id
        LEFT JOIN (SELECT product_id, MIN(line_order) AS minOrder FROM s_task_line WHERE line_status = 0 AND settle_status = 0 GROUP BY product_id) STL2
        ON STL2.product_id = SP.id
        LEFT JOIN s_task_line STL3
        ON STL3.product_id = STL2.product_id AND STL3.line_order = STL2.minOrder
        LEFT JOIN (SELECT product_id, count(*) taskUserCnt FROM (SELECT product_id, user_id FROM s_user_task WHERE pay_status = 1 group by product_id, user_id) temp GROUP BY product_id) SUT
        ON SUT.product_id = SP.id
        LEFT JOIN (select product_id, count(*) followCnt from s_user_follow where follow_type = 0 and status = 1 group by product_id) SUF
        ON SUF.product_id = SP.id
        LEFT JOIN (select product_id, count(*) browserCnt from s_user_browser group by product_id) SUB
        ON SUB.product_id = SP.id
        LEFT JOIN (select sop.product_id, sum(sop.product_number) productNumber from s_order_product sop inner join s_order_detail sod on sod.id = sop.order_detail_id where sod.payment_state in(1,9) group by sop.product_id) SALE
        ON SALE.product_id = SP.id
        LEFT JOIN (select product_id, count(*) rewardCnt from s_user_bonus_log where bonus_type in(2,3,4) group by product_id) reward
        ON reward.product_id = SP.id
        WHERE 1 = 1
        AND SP.product_name LIKE CONCAT('%',#{productName},'%')
        AND SP.delete_flag = 0
        AND SP.product_status = 1
        order  by  SP.s_order asc, sp.create_time desc
    </select>


    <select id="findNewProductDetail" resultType="java.util.Map">

        SELECT
        SP.id                                                   productId,          <!-- 商品ID -->
        SP.s_order											    sOrder,             <!-- 排序 -->
        SP.product_name                                         productName,        <!-- 商品名称 -->
        SP.product_des                                          productDes,         <!-- 商品简介 -->
        SP.product_img                                          productImg,         <!-- 商品图片 -->
        SP.product_price                                        productPrice,       <!-- 商品价格 -->
        SP.scribing_price                                       scribingPrice,      <!-- 商品划线价 -->
        SP.task_price                                           taskPrice,          <!-- 任务金 -->
        SP.task_number                                          taskNumber,         <!-- 任务数量 -->
        SP.total_reward                                         totalReward,        <!-- 总佣金 -->
        ifnull(SP.total_number, 0) - ifnull(STL1.notOverCnt, 0) overTaskLineCnt,    <!-- 已完成任务线 -->
        ifnull(STL3.total_task, 0)                              totalTaskNumber,    <!-- 当前任务线份额 -->
        ifnull(STL3.received_task, 0)                           receivedTaskNumber, <!-- 已完成任务份额 -->
        ifnull(SUT.taskUserCnt, 0)                              taskUserCnt,        <!-- 拆家人数 -->
        ifnull(SUF.followCnt, 0) + ifnull(SUB.browserCnt, 0)    followCnt,          <!-- 关注人数 -->
        ifnull(SALE.productNumber, 0)                           saleCnt,            <!-- 已售件数 -->
        ifnull(reward.rewardCnt, 0)                             rewardCnt,          <!-- 躺赢次数 -->
        ifnull(SP.total_number, 0) - ifnull(STL1.notOverCnt, 0) - sp.over_product_number  todayOverTaskLineCnt, <!-- 当天拆满任务线 -->
        ifnull(SUT.taskUserCnt, 0) - sp.user_product_number  todayTaskUserCnt                                   <!-- 当天拆家人数 -->

        FROM s_product SP

        LEFT JOIN (SELECT product_id, count(*) notOverCnt FROM s_task_line WHERE line_status = 0 AND settle_status = 0 GROUP BY product_id) STL1
        ON STL1.product_id = SP.id
        LEFT JOIN (SELECT product_id, MIN(line_order) AS minOrder FROM s_task_line WHERE line_status = 0 AND settle_status = 0 GROUP BY product_id) STL2
        ON STL2.product_id = SP.id
        LEFT JOIN s_task_line STL3
        ON STL3.product_id = STL2.product_id AND STL3.line_order = STL2.minOrder
        LEFT JOIN (SELECT product_id, count(*) taskUserCnt FROM (SELECT product_id, user_id FROM s_user_task WHERE pay_status = 1 group by product_id, user_id) temp GROUP BY product_id) SUT
        ON SUT.product_id = SP.id
        LEFT JOIN (select product_id, count(*) followCnt from s_user_follow where follow_type = 0 and status = 1 group by product_id) SUF
        ON SUF.product_id = SP.id
        LEFT JOIN (select product_id, count(*) browserCnt from s_user_browser group by product_id) SUB
        ON SUB.product_id = SP.id
        LEFT JOIN (select sop.product_id, sum(sop.product_number) productNumber from s_order_product sop inner join s_order_detail sod on sod.id = sop.order_detail_id where sod.payment_state in(1,9) group by sop.product_id) SALE
        ON SALE.product_id = SP.id
        LEFT JOIN (select product_id, count(*) rewardCnt from s_user_bonus_log where bonus_type in(2,3,4) group by product_id) reward
        ON reward.product_id = SP.id

        WHERE 1 = 1
        AND SP.product_type = 1
        AND SP.delete_flag = 0
        AND SP.product_status = 1
        order  by  SP.s_order asc, sp.create_time desc
    </select>

    <select id="findActivityProductDetail" resultType="java.util.Map">

        SELECT
        SP.id                                                   productId,          <!-- 商品ID -->
        SP.s_order											    sOrder,             <!-- 排序 -->
        SP.product_name                                         productName,        <!-- 商品名称 -->
        SP.product_des                                          productDes,         <!-- 商品简介 -->
        SP.product_img                                          productImg,         <!-- 商品图片 -->
        SP.product_price                                        productPrice,       <!-- 商品价格 -->
        SP.scribing_price                                       scribingPrice,      <!-- 商品划线价 -->
        SP.task_price                                           taskPrice,          <!-- 任务金 -->
        SP.task_number                                          taskNumber,         <!-- 任务数量 -->
        SP.total_reward                                         totalReward,        <!-- 总佣金 -->
        ifnull(SP.total_number, 0) - ifnull(STL1.notOverCnt, 0) overTaskLineCnt,    <!-- 已完成任务线 -->
        ifnull(STL3.total_task, 0)                              totalTaskNumber,    <!-- 当前任务线份额 -->
        ifnull(STL3.received_task, 0)                           receivedTaskNumber, <!-- 已完成任务份额 -->
        ifnull(SUT.taskUserCnt, 0)                              taskUserCnt,        <!-- 拆家人数 -->
        ifnull(SUF.followCnt, 0) + ifnull(SUB.browserCnt, 0)    followCnt,          <!-- 关注人数 -->
        ifnull(SALE.productNumber, 0)                           saleCnt,            <!-- 已售件数 -->
        ifnull(reward.rewardCnt, 0)                             rewardCnt           <!-- 躺赢次数 -->
        FROM s_activity SA
        LEFT JOIN s_activity_product SAP ON SAP.act_id= SA.id
        LEFT JOIN  s_product SP ON SP.id = SAP.product_id
        LEFT JOIN (SELECT product_id, count(*) notOverCnt FROM s_task_line WHERE line_status = 0 AND settle_status = 0 GROUP BY product_id) STL1
        ON STL1.product_id = SP.id
        LEFT JOIN (SELECT product_id, MIN(line_order) AS minOrder FROM s_task_line WHERE line_status = 0 AND settle_status = 0 GROUP BY product_id) STL2
        ON STL2.product_id = SP.id
        LEFT JOIN s_task_line STL3
        ON STL3.product_id = STL2.product_id AND STL3.line_order = STL2.minOrder
        LEFT JOIN (SELECT product_id, count(*) taskUserCnt FROM (SELECT product_id, user_id FROM s_user_task WHERE pay_status = 1 group by product_id, user_id) temp GROUP BY product_id) SUT
        ON SUT.product_id = SP.id
        LEFT JOIN (select product_id, count(*) followCnt from s_user_follow where follow_type = 0 and status = 1 group by product_id) SUF
        ON SUF.product_id = SP.id
        LEFT JOIN (select product_id, count(*) browserCnt from s_user_browser group by product_id) SUB
        ON SUB.product_id = SP.id
        LEFT JOIN (select sop.product_id, sum(sop.product_number) productNumber from s_order_product sop inner join s_order_detail sod on sod.id = sop.order_detail_id where sod.payment_state in(1,9) group by sop.product_id) SALE
        ON SALE.product_id = SP.id
        LEFT JOIN (select product_id, count(*) rewardCnt from s_user_bonus_log where bonus_type in(2,3,4) group by product_id) reward
        ON reward.product_id = SP.id
        WHERE 1 = 1
        AND SA.id = #{activityId}
        AND SP.delete_flag = 0
        AND SP.product_status = 1
        order  by  SP.s_order asc, sp.create_time desc
    </select>

    <select id="findProductDetailBySmallTypeId" resultType="java.util.Map" parameterType="sProduct">

        SELECT
        SP.id                                                   productId,          <!-- 商品ID -->
        SP.s_order											    sOrder,             <!-- 排序 -->
        SP.product_name                                         productName,        <!-- 商品名称 -->
        SP.product_des                                          productDes,         <!-- 商品简介 -->
        SP.product_img                                          productImg,         <!-- 商品图片 -->
        SP.product_price                                        productPrice,       <!-- 商品价格 -->
        SP.scribing_price                                       scribingPrice,      <!-- 商品划线价 -->
        SP.task_price                                           taskPrice,          <!-- 任务金 -->
        SP.task_number                                          taskNumber,         <!-- 任务数量 -->
        SP.total_reward                                         totalReward,        <!-- 总佣金 -->
        ifnull(SP.total_number, 0) - ifnull(STL1.notOverCnt, 0) overTaskLineCnt,    <!-- 已完成任务线 -->
        ifnull(STL3.total_task, 0)                              totalTaskNumber,    <!-- 当前任务线份额 -->
        ifnull(STL3.received_task, 0)                           receivedTaskNumber, <!-- 已完成任务份额 -->
        ifnull(SUT.taskUserCnt, 0)                              taskUserCnt,        <!-- 拆家人数 -->
        ifnull(SUF.followCnt, 0) + ifnull(SUB.browserCnt, 0)    followCnt,          <!-- 关注人数 -->
        ifnull(SALE.productNumber, 0)                           saleCnt,            <!-- 已售件数 -->
        ifnull(reward.rewardCnt, 0)                             rewardCnt           <!-- 躺赢次数 -->
        FROM s_product SP

        LEFT JOIN (SELECT product_id, count(*) notOverCnt FROM s_task_line WHERE line_status = 0 AND settle_status = 0 GROUP BY product_id) STL1
        ON STL1.product_id = SP.id
        LEFT JOIN (SELECT product_id, MIN(line_order) AS minOrder FROM s_task_line WHERE line_status = 0 AND settle_status = 0 GROUP BY product_id) STL2
        ON STL2.product_id = SP.id
        LEFT JOIN s_task_line STL3
        ON STL3.product_id = STL2.product_id AND STL3.line_order = STL2.minOrder
        LEFT JOIN (SELECT product_id, count(*) taskUserCnt FROM (SELECT product_id, user_id FROM s_user_task WHERE pay_status = 1 group by product_id, user_id) temp GROUP BY product_id) SUT
        ON SUT.product_id = SP.id
        LEFT JOIN (select product_id, count(*) followCnt from s_user_follow where follow_type = 0 and status = 1 group by product_id) SUF
        ON SUF.product_id = SP.id
        LEFT JOIN (select product_id, count(*) browserCnt from s_user_browser group by product_id) SUB
        ON SUB.product_id = SP.id
        LEFT JOIN (select sop.product_id, sum(sop.product_number) productNumber from s_order_product sop inner join s_order_detail sod on sod.id = sop.order_detail_id where sod.payment_state in(1,9) group by sop.product_id) SALE
        ON SALE.product_id = SP.id
        LEFT JOIN (select product_id, count(*) rewardCnt from s_user_bonus_log where bonus_type in(2,3,4) group by product_id) reward
        ON reward.product_id = SP.id
        WHERE 1 = 1

        <if test="sProduct.typeId != null and sProduct.typeId != ''">
            AND SP.type_id = #{sProduct.typeId}
        </if>

        <if test="sProduct.productType != null and sProduct.productType != ''">
            AND SP.product_type = #{sProduct.productType}
        </if>

        AND SP.delete_flag = 0
        AND SP.product_status = 1
        order  by  SP.s_order asc, sp.create_time desc
    </select>

    <select id="findProductDetailByBigTypeId" resultType="java.util.Map" parameterType="sProduct">

        SELECT
        SP.id                                                   productId,          <!-- 商品ID -->
        SP.s_order											    sOrder,             <!-- 排序 -->
        SP.product_name                                         productName,        <!-- 商品名称 -->
        SP.product_des                                          productDes,         <!-- 商品简介 -->
        SP.product_img                                          productImg,         <!-- 商品图片 -->
        SP.product_price                                        productPrice,       <!-- 商品价格 -->
        SP.scribing_price                                       scribingPrice,      <!-- 商品划线价 -->
        SP.task_price                                           taskPrice,          <!-- 任务金 -->
        SP.task_number                                          taskNumber,         <!-- 任务数量 -->
        SP.total_reward                                         totalReward,        <!-- 总佣金 -->
        ifnull(SP.total_number, 0) - ifnull(STL1.notOverCnt, 0) overTaskLineCnt,    <!-- 已完成任务线 -->
        ifnull(STL3.total_task, 0)                              totalTaskNumber,    <!-- 当前任务线份额 -->
        ifnull(STL3.received_task, 0)                           receivedTaskNumber, <!-- 已完成任务份额 -->
        ifnull(SUT.taskUserCnt, 0)                              taskUserCnt,        <!-- 拆家人数 -->
        ifnull(SUF.followCnt, 0) + ifnull(SUB.browserCnt, 0)    followCnt,          <!-- 关注人数 -->
        ifnull(SALE.productNumber, 0)                           saleCnt,            <!-- 已售件数 -->
        ifnull(reward.rewardCnt, 0)                             rewardCnt           <!-- 躺赢次数 -->
        FROM s_product_type SPT
        LEFT JOIN s_product SP ON SP.type_id = SPT.id AND SP.delete_flag = 0 AND SP.product_status = 1
        LEFT JOIN (SELECT product_id, count(*) notOverCnt FROM s_task_line WHERE line_status = 0 AND settle_status = 0 GROUP BY product_id) STL1
        ON STL1.product_id = SP.id
        LEFT JOIN (SELECT product_id, MIN(line_order) AS minOrder FROM s_task_line WHERE line_status = 0 AND settle_status = 0 GROUP BY product_id) STL2
        ON STL2.product_id = SP.id
        LEFT JOIN s_task_line STL3
        ON STL3.product_id = STL2.product_id AND STL3.line_order = STL2.minOrder
        LEFT JOIN (SELECT product_id, count(*) taskUserCnt FROM (SELECT product_id, user_id FROM s_user_task WHERE pay_status = 1 group by product_id, user_id) temp GROUP BY product_id) SUT
        ON SUT.product_id = SP.id
        LEFT JOIN (select product_id, count(*) followCnt from s_user_follow where follow_type = 0 and status = 1 group by product_id) SUF
        ON SUF.product_id = SP.id
        LEFT JOIN (select product_id, count(*) browserCnt from s_user_browser group by product_id) SUB
        ON SUB.product_id = SP.id
        LEFT JOIN (select sop.product_id, sum(sop.product_number) productNumber from s_order_product sop inner join s_order_detail sod on sod.id = sop.order_detail_id where sod.payment_state in(1,9) group by sop.product_id) SALE
        ON SALE.product_id = SP.id
        LEFT JOIN (select product_id, count(*) rewardCnt from s_user_bonus_log where bonus_type in(2,3,4) group by product_id) reward
        ON reward.product_id = SP.id
        WHERE 1 = 1

        <if test="sProduct.typeId != null and sProduct.typeId != ''">
            AND SP.type_id = #{sProduct.typeId}
        </if>

        <if test="sProduct.productType != null and sProduct.productType != ''">
            AND SP.product_type = #{sProduct.productType}
        </if>
        order  by  SP.s_order asc, sp.create_time desc
    </select>

    <select id="findProductDetail" resultType="java.util.Map">

        SELECT
        SP.id                                                   productId,          <!-- 商品ID -->
        SP.shop_id                                              shopId,             <!-- 所属店铺ID -->
        SS.shop_name                                            shopName,           <!-- 所属店铺名称 -->
        SP.product_name                                         productName,        <!-- 商品名称 -->
        SP.product_des                                          productDes,         <!-- 商品简介 -->
        SP.product_img                                          productImg,         <!-- 商品图片 -->
        SP.product_detail                                       productDetail,      <!-- 商品详情 -->
        SP.product_price                                        productPrice,       <!-- 商品价格 -->
        SP.scribing_price                                       scribingPrice,      <!-- 商品划线价 -->
        SP.express_fee                                          expressFee,         <!-- 快递邮费 -->
        SP.task_price                                           taskPrice,          <!-- 任务金 -->
        SP.task_number                                          taskNumber,         <!-- 任务数量 -->
        SP.total_reward                                         totalReward,        <!-- 总佣金 -->
        ifnull(SP.total_number, 0) - ifnull(STL1.notOverCnt, 0) overTaskLineCnt,    <!-- 已完成任务线 -->
        ifnull(STL3.total_task, 0)                              totalTaskNumber,    <!-- 当前任务线份额 -->
        ifnull(STL3.received_task, 0)                           receivedTaskNumber, <!-- 已完成任务份额 -->
        ifnull(SUT.taskUserCnt, 0)                              taskUserCnt,        <!-- 拆家人数 -->
        ifnull(SUF.followCnt, 0) + ifnull(SUB.browserCnt, 0)    followCnt,          <!-- 关注人数 -->
        ifnull(SALE.productNumber, 0)                           saleCnt,            <!-- 已售件数 -->
        ifnull(reward.rewardCnt, 0)                             rewardCnt,          <!-- 躺赢次数 -->
        ifnull(SP.total_number, 0) - ifnull(STL1.notOverCnt, 0) - sp.over_product_number  todayOverTaskLineCnt, <!-- 当天拆满任务线 -->
        ifnull(SUT.taskUserCnt, 0) - sp.user_product_number  todayTaskUserCnt                                   <!-- 当天拆家人数 -->

        FROM s_product SP
        LEFT JOIN s_shop SS
        ON SS.id = sp.shop_id
        LEFT JOIN (SELECT product_id, count(*) notOverCnt FROM s_task_line WHERE line_status = 0 AND settle_status = 0 AND product_id = #{productId}) STL1
        ON STL1.product_id = SP.id
        LEFT JOIN (SELECT product_id, MIN(line_order) AS minOrder FROM s_task_line WHERE line_status = 0 AND settle_status = 0 AND product_id = #{productId}) STL2
        ON STL2.product_id = SP.id
        LEFT JOIN s_task_line STL3
        ON STL3.product_id = STL2.product_id AND STL3.line_order = STL2.minOrder
        LEFT JOIN (SELECT product_id, count(*) taskUserCnt FROM (SELECT product_id, user_id FROM s_user_task WHERE pay_status = 1 AND product_id = #{productId} group by product_id, user_id) temp GROUP BY product_id) SUT
        ON SUT.product_id = SP.id
        LEFT JOIN (select product_id, count(*) followCnt from s_user_follow where follow_type = 0 and status = 1 AND product_id = #{productId}) SUF
        ON SUF.product_id = SP.id
        LEFT JOIN (select product_id, count(*) browserCnt from s_user_browser WHERE product_id = #{productId}) SUB
        ON SUB.product_id = SP.id
        LEFT JOIN (select sop.product_id, sum(sop.product_number) productNumber from s_order_product sop inner join s_order_detail sod on sod.id = sop.order_detail_id where sod.payment_state in(1,9) group by sop.product_id) SALE
        ON SALE.product_id = SP.id
        LEFT JOIN (select product_id, count(*) rewardCnt from s_user_bonus_log where bonus_type in(2,3,4) group by product_id) reward
        ON reward.product_id = SP.id
        WHERE 1 = 1
        AND SP.id = #{productId}
        AND SP.delete_flag = 0
    </select>

    <select id="getUserCountForProduct" resultType="java.util.Map">
        SELECT  IFNULL(count( DISTINCT  user_id),0)  count ,product_id productId FROM s_user_task
        WHERE pay_status = 1 group by product_id
    </select>
    <select id="getOverCount" resultType="java.util.Map">
        select  IFNULL(count(1),0) count,product_id productId from s_task_line
        where settle_status =1 or settle_status =2 or line_status=1 GROUP BY product_id
    </select>
    <update id="updateForOverBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index"  separator=";">
            update s_product
            <set>
                over_product_number = #{item.count}
            </set>
            where id = #{item.productId}
        </foreach>
    </update>
    <update id="updateForUserCountBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index"  separator=";">
            update s_product
            <set>
                user_product_number = #{item.count}
            </set>
            where id = #{item.productId}
        </foreach>
    </update>

    <select id="getMyTaskLineIds" resultType="java.lang.String">
        SELECT
            utl.task_line_id
        FROM
            s_user_task_line utl
        WHERE
        (
            utl.`status` = 0
            OR utl.`status` = 3
        )
        <if test="userId != null and userId != ''">
            AND utl.user_id = #{userId}
        </if>

        AND utl.product_id = #{productId}
    </select>
    <select id="getMinOrder" resultType="java.lang.Integer">
        select min(line_order) from s_task_line where id in
        <foreach index="index" item="item" open="("  separator="," close=")"  collection="list">
            #{item}
        </foreach>
    </select>
    <select id="myFrontCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(DISTINCT task_line_id) from s_user_task_line  where 1=1
        AND (`status` = 0 OR `status` = 3)
        AND product_id = #{productId}
        and task_line_id in (select id from s_task_line where product_id = #{productId} and received_task &gt;= total_task and settle_status=0)
        <if test="minLineOrder != null and minLineOrder != ''">
            and task_line_id in (
            select id from s_task_line
            where line_order <![CDATA[ < ]]>   #{minLineOrder}
            )

        </if>

    </select>

</mapper>
