<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.api.mapper.SUserBonusLogMapper">

    <!--<select id="findUserBonusOrgRewardSum0" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(bonus_amount),0) bonusAmount
          FROM s_user_bonus_log
         WHERE user_id=#{userId}

            <if test="productId != null and productId != ''">
                AND product_id = #{productId}
            </if>

           AND bonus_type IN (3, 4)
           AND status IN (0)
    </select>

    <select id="findUserBonusOrgRewardSum1" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(bonus_amount),0) bonusAmount
        FROM s_user_bonus_log
        WHERE user_id=#{userId}

        <if test="productId != null and productId != ''">
            AND product_id = #{productId}
        </if>

        AND bonus_type IN (3, 4)
        AND status IN (1)
    </select>

    <select id="findUserBonusOrgRewardTodaySum" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(bonus_amount),0) bonusAmount
          FROM s_user_bonus_log
         WHERE user_id=#{userId}
           AND bonus_type IN (3, 4)
           AND status IN (1)
           AND to_days(create_time) = to_days(now())
    </select>

    <select id="findUserBonusTaskRewardSum0" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(bonus_amount),0) bonusAmount
        FROM s_user_bonus_log
        WHERE user_id=#{userId}

        <if test="productId != null and productId != ''">
            AND product_id = #{productId}
        </if>

        AND bonus_type IN (2)
        AND status IN (0)
    </select>

    <select id="findUserBonusTaskRewardSum1" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(bonus_amount),0) bonusAmount
        FROM s_user_bonus_log
        WHERE user_id=#{userId}

        <if test="productId != null and productId != ''">
            AND product_id = #{productId}
        </if>

        AND bonus_type IN (2)
        AND status IN (1)
    </select>

    <select id="findUserBonusBuyerRewardSum0" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(bonus_amount),0) bonusAmount
        FROM s_user_bonus_log
        WHERE user_id=#{userId}

        <if test="productId != null and productId != ''">
            AND product_id = #{productId}
        </if>

        AND bonus_type IN (1)
        AND status IN (0)
    </select>

    <select id="findUserBonusBuyerRewardSum1" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(bonus_amount),0) bonusAmount
        FROM s_user_bonus_log
        WHERE user_id=#{userId}

        <if test="productId != null and productId != ''">
            AND product_id = #{productId}
        </if>

        AND bonus_type IN (1)
        AND status IN (1)
    </select>-->

    <select id="findUserBonus" resultType="cc.mrbird.febs.api.entity.SUserBonusLog">
        SELECT  bonus_amount bonusAmount,
                bonus_type bonusType,
                status
        FROM s_user_bonus_log
        WHERE user_id=#{userId}
        <if test="productId != null and productId != ''">
            AND product_id = #{productId}
        </if>
        <if test="isToday == 1">
            AND to_days(create_time) = to_days(now())
        </if>

    </select>

    <select id="getSettlementAmt" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(bonus_amount),0)
        FROM s_user_bonus_log
        WHERE user_id=#{userId}
        and status = 0
    </select>
</mapper>
