<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.api.mapper.SUserRelationMapper">

    <select id="queryUserRelationCnt" resultType="java.lang.Integer">
        SELECT count(*) FROM s_user_relation WHERE parent_id=#{userId}
    </select>

    <select id="queryUserRelationTodayCnt" resultType="java.lang.Integer">
        SELECT count(*)
          FROM s_user_relation
         WHERE parent_id=#{userId}
          AND to_days(create_time) = to_days(now())
    </select>

    <select id="getMyTeamTotal" resultType="java.util.Map">
        select count(DISTINCT sur1.user_id) first,count(DISTINCT sur2.user_id) second, count(DISTINCT sur3.user_id) third ,
        count(DISTINCT sur1.user_id)+count(DISTINCT sur2.user_id)+ count(DISTINCT sur3.user_id)  total
        from s_user_relation  sur1
        LEFT JOIN s_user_relation sur2 on (sur2.parent_id=sur1.user_id and sur2.relation_type = #{relationType})
        LEFT JOIN s_user_relation sur3 on (sur3.parent_id=sur2.user_id and sur3.relation_type = #{relationType})
        where sur1.relation_type = #{relationType}
        and sur1.parent_id = #{userId}
    </select>
    <!--查询一级禁卫军/预备队-->
    <select id = "getFirstLevel" resultType="java.util.Map">
        select u.user_name userName,sur1.create_time createTime,COUNT(DISTINCT sur2.user_id) subordinateCount
         from s_user_relation  sur1
        LEFT JOIN s_user_relation sur2 on (sur2.parent_id=sur1.user_id and sur2.relation_type = #{relationType})
        LEFT JOIN s_user u on u.id = sur1.user_id
        where sur1.relation_type = #{relationType}
        and sur1.parent_id = #{userId}
        order by  sur1.create_time desc
    </select>
    <select id="getSecondLevel" resultType="java.util.Map">
        select u.user_name userName,sur2.user_id,sur2.create_time createTime,COUNT(DISTINCT sur3.user_id) subordinateCount
         from s_user_relation  sur1
        LEFT JOIN s_user_relation sur2 on (sur2.parent_id=sur1.user_id and sur2.relation_type = #{relationType})
        LEFT JOIN s_user_relation sur3 on (sur3.parent_id=sur2.user_id and sur3.relation_type = #{relationType})
        LEFT JOIN s_user u on u.id=sur2.user_id
        where sur1.relation_type = #{relationType}
        and sur1.parent_id = #{userId}
        order by  sur2.create_time desc
    </select>
    <select id="getThirdLevel" resultType="java.util.Map">
        select u.user_name userName,sur3.user_id,sur3.create_time createTime,COUNT(DISTINCT sur4.user_id) subordinateCount
         from s_user_relation  sur1
        LEFT JOIN s_user_relation sur2 on (sur2.parent_id=sur1.user_id and sur2.relation_type = #{relationType})
        LEFT JOIN s_user_relation sur3 on (sur3.parent_id=sur2.user_id and sur3.relation_type = #{relationType})
        LEFT JOIN s_user_relation sur4 on (sur4.parent_id=sur3.user_id and sur4.relation_type = #{relationType})
        LEFT JOIN s_user u on u.id=sur3.user_id
        where sur1.relation_type = #{relationType}
        and sur1.parent_id = #{userId}
        order by  sur3.create_time desc
    </select>
</mapper>
