<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.api.mapper.SUserWithdrawMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.api.entity.SUserWithdraw">
                <result column="id" property="id" />
                    <result column="user_id" property="userId" />
                    <result column="create_time" property="createTime" />
                    <result column="amount" property="amount" />
                    <result column="status" property="status" />
                    <result column="pay_sn" property="paySn" />
                    <result column="deal_user" property="dealUser" />
                    <result column="deal_time" property="dealTime" />
                    <result column="remark" property="remark" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
            user_id, create_time, amount, status, pay_sn, deal_user, deal_time, remark
        </sql>

    
</mapper>
