<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.api.mapper.SUserBonusLogMapper">

    <select id="findUserBonus" resultType="cc.mrbird.febs.api.entity.SUserBonusLog">
        SELECT  bonus_amount bonusAmount,
                bonus_type bonusType,
                status
        FROM s_user_bonus_log
        WHERE user_id=#{userId}

        <if test="productId != null and productId != ''">
            AND product_id = #{productId}
        </if>
        <if test="isToday == 1">
            AND to_days(update_time) = to_days(now())
        </if>

    </select>

    <select id="getSettlementAmt" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(bonus_amount),0)
        FROM s_user_bonus_log
        WHERE user_id=#{userId}
        and status = 0
    </select>


    <select id="getBonusDetails" resultType="java.util.Map">
        select *
             from
            (
            select user_id  userId,
                   null    productId,
                   null    productName,
                   null    orderDetailId,
                   null    taskLineId,
                   change_type type,
                   date_format(change_time, '%m.%d %H:%i') detailTime,
                   change_amount  amount
            from s_user_amount_log
            where change_type not in(3, 4, 31, 41, 9)
            and user_id = #{userId}

            union all

            select ubl.user_id    userId,
                   ubl.product_id   productId,
                   sp.product_name  productName,
                   ubl.order_detail_id orderDetailId,
                   ubl.task_line_id     taskLineId,
                   0 type,
                   max(date_format(ubl.update_time, '%m.%d %H:%i')) detailTime,
                   sum(ubl.bonus_amount) amount
              from s_user_bonus_log ubl
              left join s_product sp on sp.id = ubl.product_id
             where ubl.user_id =  #{userId}
              and ubl.status = 1
            group by ubl.user_id, ubl.product_id, ubl.order_detail_id, ubl.task_line_id
            ) A order by detailTime desc
    </select>
</mapper>
